
/*==========Footer section style=========*/
footer ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
footer ul li {
    display: inline-block;
    position: relative;
}
.top_footer_info__block {
    background: #222;
    color: #ffffff;
}
.single_info__block h4 span {
    display: block;
    font-size: 80%;
    font-weight: normal;
}
.single_info__block i.fa {
    font-size: 28px;
    height: 80px;
    line-height: 80px;
    margin-top: -40px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
}
.single_info__block {
    position: relative;
}
.single_info__block > h4 {
    margin-left: 55px;
    color: #fff;
    font-size: 14px;
    line-height: 23px;
}

.main_footer__block{
    background-image: url(../images/footer__bg-block.jpg);
    background-size: cover;
    background-position:top center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    color: #fff;
}
.main_footer__block::before {
  background: #222;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
}
.footer_box__block h4{
	color: #fff;
}
.footer_box__block p:last-child{
  margin-bottom:0;
}
.footer_box__block li {
    border-bottom: 1px solid #222;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.footer_box__block li::after {
    content: "\f105";
    font-family: fontawesome;
    position: absolute;
    right: 10px;
    top: 0;
}
.footer_box__block li:last-child{
  margin-bottom:0;
  border-bottom:none;
  padding-bottom:0;
}
.footer_box__block li a {
    color: #ffffff;
}

.footer_box__block.address-box li {
    border: 0 none;
    margin: 0;
}
.footer_box__block.address-box li::after {
    display: none;
}
.address-box li i.fa {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    width: 20px;
}
.footer_box__block.address-box p {
    margin-left: 25px;
    margin-top: 4px;
}


.copyriight_block {
    border-top: 1px solid #ffffff;
}
.footer__block-logo{
	max-width:170px;
    display: block;
}

@media (max-width: 767px){
    .copyriight_block img {
      display: block;
      margin: 0 auto 15px;
    }
    .copyriight_block p{
        text-align: center
    }
    .padding{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .hero-wrapper__block .container {
      padding: 0;
    }
}